body {
	background-color: teal;
}

.green-crystal {
	width: 200px;
	height: 200px;
	margin: 20px 15px 0px 15px;
}

.blue-crystal {
	width: 200px;
	height: 225px;
	margin: 30px 15px 0px 15px;
}

.red-crystal {
	width: 200px;
	height: 250px;
	margin: 0px 15px;
}

.purple-crystal {
	width: 220px;
	height:200px;
	margin: 35px 15px 0px 15px;
}